.content_intro {
  .relative;

  // background-color: @black;
  padding: 80px 0 90px 0;
  z-index: 1;

  @media @min_md {
    padding: 120px 0 110px 0;
  }

  &.content_intro_thin {
    padding: 0 0 20px 0;

    @media @min_md {
      padding: 80px 0 40px 0;
    }
  }
}

.content_intro_title {
  color: @black;
  margin: 0;
  text-align: center;
}

.content_intro_cell {
  text-align: center;
}

.content_intro_content {
  
  margin: 10px 0;
  font-size: 18px;

  @media @min_lg {
    margin: 60px 0 0 0;
  }

  p {
    font-size: 18px;
  }

}

.content_intro_list {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    font-weight: 900;
    font-size: 14px;
    font-style: italic;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #000;

    &:hover {
      color: @blue;
    }

    &:after {
      &:extend(.icon);
      &:extend(.icon:before);
      &:extend(.icon.blue_arrow_large:before);
      font-size: 18%;
      margin-left: 10px;
      margin-top: -4px;
    }
  }
}

.content_intro_cell {
  margin-top: 80px;
}

.content_intro_button {
  .button_blue;

  @media @min_md {
    .inline;
  }
}
